<!DOCTYPE html>
<html>
<head>
	<title>SustainiCal | About</title>

</head>
<body>
	<div class="page-container">
		<div class="about-title">
			What is SustainiCal?
		</div>
		<div class="about-detail">
			SustainiCal is hosting a <b>yearly competition</b> between UC Berkeley students by comparing their dorm-wide and unit-wide energy usage throughout the school year. This website can <b>track electricity and water usage</b> between the various dorms and compare those values to previous years as well as to <b>sustainable</b> levels. The competition will pit dorms against each other, and give <b>a major prize at the end of the semester</b> to whichever dorm shows the most improvement, along with smaller awards throughout the semester. Additionally, we hope to include intermittent goals and prizes for dorms to reward progress. We aim to give students several potential sources of motivation. Beyond energy and water usage, we are including other potential ways to understand and limit individual carbon footprints so that users won't simply focus on one aspect while ignoring other lifestyle choices. In doing so, we hope to <b>encourage a behavior change</b> in which students have a better understanding of their impact, carrying that knowledge into new communities beyond their freshman year.
		</div>	
		<div class="about-title">
			Who are SustainiCal users?
		</div>
		<div class="about-detail">
			This competition is intended mainly for UCB students currently living in university housing. Through the year, we hope to assist students in tracking their behavior in order to encourage habits that find valuable. Various student sustainability groups are directly assisting with this project. Several others will be organizing events that we will help you track on this website!
		</div>
		<div class="about-title">
			Why use SustainiCal?
		</div>
		<div class="about-detail">
			We aim to emphasize <b>ease of use, visualizations, and prizes</b>. We are partnering with the UC Berkeley Housing Department to help them achieve their goal of carbon neutrality by 2025. Our main users, students. We hope that an enticing platform and experience will encourage fans to involve their friends into the competition!
		</div>
		<div id="contact">
			Contact Us
		</div>
	</div>
</body>
</html>