<!DOCTYPE html>
<html>
	<head> 
		<title>Sustainical | Dashboard</title>
	</head>
<body>
	<h2 class="page-header">Dashboard</h2>
	<p>Welcome to your dashboard!</p>
		<div class="container">
			<div class="row">
				<div class="col-sm-8" id="my-chart-contained">
					<!-- thank you bootstrap -->
					<ul class="nav md-pills nav-justified pills-secondary keep-width">
					    <li class="nav-item">
					        <a class="nav-link active theCharts" data-toggle="tab" href="#panel4" role="tab">Week</a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link theCharts" data-toggle="tab" href="#panel11" role="tab">Month</a>
					    </li>
					    <li class="nav-item">
					        <a class="nav-link theCharts" data-toggle="tab" href="#panel12" role="tab">Year</a>
					    </li>
					</ul>

					<!-- Tab panels -->
					<div class="tab-content keep-width">

					    <!--Panel 1-->
					    <div class="tab-pane fade in show active" id="panel4" role="tabpanel">
					        <br>
					        <canvas id="fixedChart-1" class="charted" height="500" width="600"></canvas>
					    </div>
					    <!--/.Panel 1-->

					    <!--Panel 2-->
					    <div class="tab-pane fade" id="panel11" role="tabpanel">
					        <br>
					        <canvas id="fixedChart-2" class="uncharted" height="500" width="600"></canvas>
					    </div>
					    <!--/.Panel 2-->

					    <!--Panel 3-->
					    <div class="tab-pane fade" id="panel12" role="tabpanel">
					        <br>
					        <canvas id="fixedChart-3" class="uncharted" height="500" width="600"></canvas>
					    </div>
					    <!--/.Panel 3-->
					</div>
				</div>
				<div id="profile-info" class="boxes col-sm-4">
					<h3>User | 0 pts</h3>
					<h4>Ida Sproul | 450 pts</h4>
				</div>
			</div>
		</div>
</body>
</html>
