<head> 
	<title>Sustainical | Trends</title>
</head>
<div class="container sustainical-page">
	<div class="row user-specific">
		<div class="col-lg-8">
			<div class="boxes overall-charts">
				<div class="chart-info">
					<div class="chart-text chart-header">
						Energy Consumption by Building (kWh)
					</div>
<!-- 					<div class="chart-text">
						<ul class="chart-option-container">
							<li class="chart-options">month</li>
							<li class="active-tab chart-options">week</li>
							<li class="chart-options">day</li>
						</ul>
					</div> -->
				</div>
				<div class="chart-container">
					<canvas id="fixedChart-1"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<script src='https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
<script src="/js/dash.js"></script>
