<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/quiz2.js"></script>
</head>
<body>
<div class="container sustainical-page">
<div class="about-title">
	Quiz: Livestock and Climate Change
</div>
<p class="question">1. What percent of global GHG emissions does the study claim come from livestock?</p>        

<ul class="answers">            
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">11.8</label><br/>          
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">20.0</label><br/>            
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">40.6</label><br/>            
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">51.0</label><br/>       
</ul>        


<p class="question">2. Which of these is NOT one of the four additional overlooked categories of GHGs?</p>        

<ul class="answers">            
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">Increase in total livestock between 2002 and 2009.</label><br/>           
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">Undercounting of both pastoral and industrial livestock.</label><br/>            
<input type="radio" name="q2" value="c" id="q2c"><label for="q2c">Methane being a much more potent greenhouse gas than CO2.</label><br/>           
<input type="radio" name="q2" value="d" id="q2d"><label for="q2d">Operations in Minnesota cannot be used to extrapolate regarding efficiency in the rest of the world.</label><br/>       
</ul>        

<p class="question">3. Which analogs does the article discuss as alternatives to meat?</p>        

<ul class="answers">            
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">Soy and rice milk.</label><br/>            
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">Blackbean burgers.</label><br/>            
<input type="radio" name="q3" value="c" id="q3c"><label for="q3c">Almond milk.</label><br/>           
<input type="radio" name="q3" value="d" id="q3d"><label for="q3d">Processed sugar.</label><br/>       
</ul>        

<br/>
<div id="results">            
Check answers      
</div>                

<div id="category1">            
<p>              
<strong>Question 1:</strong> The correct answer is <strong>51.0</strong>.</p>        
</div>        

<div id="category2">            
<p>              
<strong>Question 2:</strong> The correct answer is <strong>Methane being a much more potent greenhouse gas than CO2.</strong>.</p>        
</div>        

<div id="category3">            
<p>                
<strong>Question 3:</strong> The correct answer is <strong>Soy and rice milk.</strong>.</p>        
</div>        

<div id="category11">            
<p>                
Nice! You got them all right!</p>        
</div>
</div>
</body>
</html>