<!DOCTYPE html>
<html>
<head>
	<title>SustainiCal | Quizzes</title>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
</head>
<body>
	<h2 class="page-header">Quizzes</h2>
	<div class="quiz-contact contact">
		<a href="/users/resourceslogin">Back</a>
	</div>
	<div class="clear-fix"></div>
	<div class="page-container article-container"> <!-- Titles must be contained in 1 line, and summaries within 3 lines -->
		<a href="/users/quiz1">
			<div class="article">
				<div class="article-image fifth-image">
				</div>
				<div class="article-details">
					<div class="article-title">
						<div class="read-article">
							Read the <b><a class="article-link" href="https://phys.org/news/2017-07-effective-individual-tackle-climate-discussed.html">article</a></b>
						</div>
						<div class="read-article">
							Take the <b><a class="article-link" href="/users/quiz1">quiz</a></b>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a href="/users/quiz2">
			<div class="article">
				<div class="article-image second-image">
				</div>
				<div class="article-details">
					<div class="article-title">
						<div class="read-article">
							Read the <b><a class="article-link" href="https://www.worldwatch.org/files/pdf/Livestock%20and%20Climate%20Change.pdf">article</a></b>
						</div>
						<div class="read-article">
							Take the <b><a class="article-link" href="/users/quiz2">quiz</a></b>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</body>
</html>
