<!DOCTYPE html>
<html>
<head>
	<title>Sustainical | Resources</title>

</head>
<div class="about-title">
	Resources
</div>
<body>
	<div class="container special-container">
		<a href="/users/quizzes">
		<div class="special left">
			<div class="special-title">Quizzes</div>
			<div class="special-details">Quiz yourself on sustainable topics and earn personal points!</div>
		</div>
		</a>
		<div class="special right">
			<div class="special-title special-events">Events</div>
			<div class="special-details">Check out some local sustainability events to meet peers and learn about the difference you can make in your community</div>
		</div>
		<div class="clear-fix"></div>
	</div>
	<div class="line"></div>
<div class="page-container article-container"> <!-- Titles must be contained in 1 line, and summaries within 3 lines-->
	<div class="row">
		<div class="col-sm-3">
			<a href="https://phys.org/news/2017-07-effective-individual-tackle-climate-discussed.html">
				<div class="article article-image fifth-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							The most effective individual steps to tackle climate change
						</div>
<!-- 						<div class="article-about">
							The four actions that most substantially decrease an individual's carbon footprint are: eating a plant-based diet, avoiding air travel, living car-free, and having smaller families.
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="https://www.worldwatch.org/files/pdf/Livestock%20and%20Climate%20Change.pdf">
				<div class="article article-image second-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							Livestock and Climate Change
						</div>
					</div>
						<!-- <div class="article-about">
							The life cycle and supply chain of domesticated animals raised forfood have been vastly underestimated as a source of GHGs, and in fact account for at least half of all human-caused GHGs.
						</div> -->

				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="http://www.pnas.org/content/105/30/10302.full.pdf">
				<div class="article article-image generic-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							Global cost estimates of reducing carbon emissions through avoided deforestation
						</div>
					</div>
<!-- 						<div class="article-about">
							Tropical deforestation is estimated to cause about one-quarter of anthropogenic carbon emissions, loss of biodiversity, and other environmental services.
						</div> -->

				</div>
			</a>
		</div>
		<div class="col-sm-3">	
			<a href="http://www.nytimes.com/2013/01/27/sunday-review/the-biggest-carbon-sin-air-travel.html">
			<div class="article article-image first-image">
				<div class="article-overlay"></div>
				<div class="article-details">
					<div class="article-title">
						Air Travel and Pollution
					</div>
<!-- 					<div class="article-about">
						Though air travel emissions now account for only about 5 percent of warming, that fraction is projected to rise significantly, since the volume of air travel is increasing much faster than gains in flight fuel efficiency.
					</div> -->
				</div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<a href="https://link.springer.com/article/10.1007/s10584-014-1169-1">
				<div class="article article-image generic-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							Dietary greenhouse gas emissions of various diets
						</div>
<!-- 						<div class="article-about">
							The objective of this study was to estimate the difference in dietary GHG emissions between self-selected meat-eaters, fish-eaters, vegetarians and vegans in the UK.
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="http://www.nytimes.com/2013/01/27/sunday-review/the-biggest-carbon-sin-air-travel.html">
				<div class="article article-image fourth-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							Diffusion of Responsibility
						</div>
<!-- 						<div class="article-about">
							Diffusion of responsibility is a sociopsychological phenomenon whereby a person is less likely to take responsibility for action or inaction when others are present.
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="http://www.sustainabletable.org/246/sustainable-agriculture-the-basics">
				<div class="article article-image generic-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							The Impact of Diet
						</div>
<!-- 						<div class="article-about">
							Sustainable agriculture is the production of food, fiber, or other plant or animal products using farming techniques that protect the environment, public health, human communities, and animal welfare.
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="http://newsroom.unfccc.int/about/">
				<div class="article article-image third-image">
					<div class="article-overlay"></div>
					<div class="article-details">
						<div class="article-title">
							Upcoming COP 23
						</div>
<!-- 						<div class="article-about">
							With 197 Parties, the United Nations Framework Convention on Climate Change (UNFCCC) has near universal membership and is the parent treaty of the 1997 Kyoto Protocol.
						</div> -->
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
</body>
</html>