<!DOCTYPE html>
<html>
<head>
	<title>SustainiCal | What Can I Do?</title>
</head>
<body>
	<div class="page-container">
		<div class="about-title">
			What can I do to reduce my carbon footprint?
		</div>
		<div class="about-detail">
			Under construction!
		</div>
	</div>
</body>
</html>