<!DOCTYPE html>
<html>
<head>
	<title>SustainiCal | What Can I Do?</title>
</head>
<body>
	<div class="container sustainical-page">
		<h2 class="page-header">What can I do?</h2>
		<div class="about-detail">
			What can I do to reduce my carbon footprint? <a href="http://iopscience.iop.org/article/10.1088/1748-9326/aa7541">A study</a> considered several different actions and their potential to reduce your impact on the environment. In addition to the actions below, there are several other actions that you can take which might have a high impact, such as buying green energy, but for which the study discusses	  issues relating to the validity of the data used. As such, we only excluded them in the interest of accuracy, but feel free to read the full study yourself!
		</div>
		<div class="about-title">
			Have one fewer biological child (58.6 tonnes CO2-equivalent emissions yearly)
		</div>
		<div class="about-detail">
			This is not a topic on which many are willing to compromise, but it is worth considering. For many, adopting a child might be a good alternative. We can also consider the counter-argument: it is important to pass on a sense of civic duty to protecting the planet, though that can be achieved in many ways, not just by educating a child. In the end, this is by far the largest contribution to one's carbon footprint in the long run.
		</div>
		<div class="about-title">
			Live car free (2.4 tonnes), Switch from an electric car to car free (1.2 tonnes), or Replace a gasoline car with a hybrid (0.4 tonnes)
		</div>
		<div class="about-detail">
			As students, many of us don't currently have a vehicle. For many, that option quickly fades after graduating. Public transport can sometimes offer an alternative, but otherwise, electric vehicles offer roughly half of the benefit of living completely car-free.
		</div>
		<div class="about-title">
			Avoid one transatlantic flight (1.6 tonnes)
		</div>
		<div class="about-detail">
			Flying is often one of the major sources of pollution for those in the developed world. Many airlines try to ease their customer's conscience by offering the option to donate to a green fund to offset the emissions. However, as the study discusses, the impact of making such contributions are of dubious merit. Don't take it to mean you shouldn't visit your family back home! Though if they live close enough, trains or buses might be an option (and are often cheaper).
		</div>
		<div class="about-title">
			Eating a plant-based diet (0.9 tonnes)
		</div>
		<div class="about-detail">
			This is the first habit that anyone could start immediately! This option is often framed as completely abstaining from all meat, but simply reducing meat consumption by a certain amount or containing it to a given day of the week can get you a lot of the benefit of completely switching. In the end, however, a completely plant-based diet can be 2 to 5 times more effective in terms of emissions, and it is considered completely capable to satisfy dietery needs by the <a href="https://www.ncbi.nlm.nih.gov/pubmed/19562864">American Dietetic Association</a>.
		</div>
		<div class="about-title">
			Wash clothes in cold water (0.25 tonnes) and hang dry clothes (0.2 tonnes)
		</div>
		<div class="about-detail">
			Combined, these two offer another potent habit you can start immediately. If you don't have a clothing line, do some research about whether you could install one!
		</div>
		<div class="about-title">
			Recycle (0.2 tonnes)
		</div>
		<div class="about-detail">
			Though the carbon reducing impact of recycling is low compared to the other habits in this list, it also has the benefit of preserving resources which is nott covered by the study. Berkeley has great recycling availability throughout the dorms, so try to take advantage!
		</div>
	</div>
</body>
</html>