.more{
  font: 12px sans-serif;
  background-color:  #3498db;
  text-align: right;
  padding: 4px;
  margin: 1px;
  color: white;
}

body, html {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 1600px;
	width: 100%;
}


/*NAV BAR*/

#navbar {
	padding: 8px 0px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	box-shadow: 10px 1px 50px rgba(0,0,0,0.1);
	z-index: 10;
}

#nav-content {
	margin: 0 auto;
	width: 960px;
	min-width: 480px;
	position: relative;

}

#logo {
	position: relative;
	font-weight: 700;
	display: inline-block;
	opacity: 0.5;
	transition: 0.2s;
	cursor: pointer;
}

#nav-list {
	position: relative;
	float: right;
	padding: 0;
	margin: 0;
}

.nav-items {
	color: black;
	font-weight: 300;
	display: inline-block;
	cursor: pointer;
	padding: 2px 4px;
	box-shadow: inset 0 0 0 0 #2ecc71;
	transition: all ease 0.4s;

}

.nav-items > a {
	text-decoration: none;
	font-weight: 300;
	display: inline-block;
	cursor: pointer;
	padding: 2px 4px;
	box-shadow: inset 0 0 0 0 #2ecc71;
	transition: all ease 0.4s;
}

.nav-items > a:hover {
	text-decoration: none;
	color: white !important;
	box-shadow: inset 100px 0 0 0 #2ecc71;
	border-radius: 4px;
	transition: all ease 0.8s;
}


.nav-items > a:visited {
	text-decoration: none;
	font-weight: 300;
	display: inline-block;
	cursor: pointer;
	color: black;
	padding: 2px 4px;
	box-shadow: inset 0 0 0 0 #2ecc71;
	transition: all ease 0.4s;
}

#logo:hover {
	color: #2ecc71;
	opacity: 1;
	transition: 0.2s;
}

/*.nav-items:hover {
	color: white;
	box-shadow: inset 100px 0 0 0 #2ecc71;
	border-radius: 4px;
	transition: all ease 0.8s;
}*/


.page-container {
	position: relative;
	height: 100%;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 56px;
}

#energy-chart {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 54px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 8px;
}

.active-chart {
	position: absolute;
	display: inline;
}

.inactive-chart {
	display: none;
	position: absolute;
}



#timeline-container {
	position: absolute;
	left: 50%;
	top: 480px;
	transform: translateX(-50%);
	width: 400px;
	height: 100px;
}

/*W3 School*/

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 400px;
	height: 4px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: #2ecc71;
	cursor: pointer;
	border-radius: 20px;
}

.slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: #2ecc71;
	cursor: pointer;
	border-radius: 20px;
}

.slider::ms-thumb {
	width: 16px;
	height: 16px;
	background: #2ecc71;
	cursor: pointer;
	border-radius: 20px;
}

#label-container {
	list-style: none;
	padding: 0;
	position: relative;
	top: -20px;
	width: 400px;
}

.label {
	float: left;
	margin-right: 20%;
	position: relative;
	left: -5px;
}

.month {
	position: relative;
	left: 5px;
}

.week {
	position: relative;
	left: 5px;
}

.day {
	margin-right: 0;
	position: relative;
	left: 20px;
}

#leaderboard-container {
	position: absolute;
	width: 80%;
	font-size: 18px;
	left: 50%;
	transform: translateX(-50%);
	top: 560px;
	text-align: center;
	padding: 24px;
	margin-bottom: 100px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.leaderboard-title {
	font-size: 24px;
	font-weight: 700;
	display: inline-block;
	margin: 0 auto;
	padding: 12px;
	margin-bottom: 12px;
	cursor: pointer;
}

.leaderboard-title:nth-child(1) {
	background-color: #2ecc71;
    color: white;
    border-radius: 4px;
}

.leaderboard-title:nth-child(2) {
	opacity: 0.5;
	transition: 0.2s;
}

.leaderboard-title:nth-child(2):hover {
	transition: 0.2s;
	opacity: 1;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
    background-color: #2ecc71;
    color: white;
}



/*.label::before {
	position: absolute;
	top: -25px;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 9px;
	height: 9px;
	background: #b2b2b2;
	border-radius: 50%;
}*/



/*#timeline {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: black;
	height: 4px;
	width: 400px;
	border-radius: 20px;
}
*/


/************/
/*RESOURCES*/
/************/

.line {
	position: relative;
	height: 2px;
	width: 960px;
}

.special-container {
	position: relative;
	top: 40px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.cover {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

.special {
	color: white;
	position: relative;
	width: 45%;
	border: 1px solid transparent;
	height: 250px;
	padding: 12px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	cursor: pointer;
}

.special:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	border: 1px solid #2ecc71;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.special:nth-child(1){
	background-image: url(../img/quiz.jpeg);
	background-size: cover;
	background-position: center;
	background-origin: border-box;
}

.special:nth-child(2){
	background-image: url(../img/event.jpeg);
	background-size: cover;
	background-position: center;
	background-origin: border-box;

}

.special-title {
	font-weight: 700;
	font-size: 24px;
	z-index: 20;
}

.line {
	position: relative;
	top: 60px;
	height: 2px;
	width: 1000px;
	border-radius: 10px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.2);
}


.article-container {
	position: relative;
	top: 80px;
}

.article {
	position: relative;
	height: 150px;
	width: calc(100% - 26px);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 0 auto 40px auto;
	padding: 12px;
	border: 1px solid transparent;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}

.article-image {
	height: 80%;
	width: 20%;
	display: inline-block;
	margin-left: 12px;
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	border-radius: 4px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.generic-image {
	background-image: url(../img/logo.png);
}

.magn-image {
	background-image: url(../img/magnify.jpeg);
}

.first-image {
	background-image: url(../img/plane.jpeg);
}

.second-image {
	background-image: url(../img/cow.jpeg);
}

.third-image {
	background-image: url(../img/conference.jpeg);
}

.fourth-image {
	background-image: url(../img/group.jpg);
}

.fifth-image {
	background-image: url(https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/themosteffec.jpg);
}

.article-details {
	width: 60%;
	position: relative;
	display: inline-block;
	margin: 0px 12px;
}

.article-title {
	font-weight: 700;
}

.search {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.4);
	width: calc(100% - 26px);
	cursor: default !important;
}

#search-box {
	width: 300px;
	position: relative;
	margin-bottom: 40px;
}

#magnify-container {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 8px;
}

#magnify-container > img {
	width: 100%;
	height:100%;
	object-fit: cover;
}



#search-box > input {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 12px;
	padding-left: 32px;
	border: 1px solid transparent;
	outline-color: #2ecc71;
	font-family: 'Source Sans Pro', sans-serif;
	width: 180px;
	font-size: 18px;
}

.search:hover{ 
	border: 2px solid rgba(0,0,0,0.4) !important;
	box-shadow: none !important;
}

.article:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
	border: 1px solid #2ecc71;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.clear-fix {
	clear: both;
}

/*PROFILE*/

#profile-container {
	position: relative;
	top: 40px;
	height: 500px;
	width: calc(100%-24);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 0 auto 40px auto;
	padding: 12px;
}

.sub-container {
	margin: 24px;
}



#prof-pic {
	height: 140px;
	width: 140px;
	padding: 4px;
	display: inline-block;
	border-radius: 12px;
	background-image: url(../img/dude.jpeg);
	background-origin: border-box;
	background-size: 400%;
	background-position: center;
}

/*#prof-pic > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}*/

#details {
	position: relative;
	top: -28px;
	display: inline-block;
	margin-left: 12px;
}

#unit, #building {
	font-size: 14px;
}

.goals-points {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
}

.goals-points:nth-child(2) {
	position: relative;
	left: 552px;
}

.sub-container > ul {
	margin: 0;
	padding-left: 24px;
	font-weight: 400;
	font-size: 18px;
	display: inline-block;
	margin-right: 12px;
}

#points {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
	padding-left: 12px;
	border-left: 1px solid rgba(0,0,0,0.4);
}

#points > p {
	margin: 0;
}

#points>p:hover {
	opacity: 0.5;
	cursor: pointer;
}

/*******/
/*ABOUT*/
/*******/

.about-title {
	font-weight: 700;
	font-size: 24px;
	margin-top: 40px;
}

.about-detail {
	font-size: 18px;
	line-height: 150%;
}

#contact {
	margin-top: 48px;
	font-weight: 700;
	width: 100px;
	padding: 4px;
	color: white;
	background-color: #2ecc71;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	text-align: center;
}

#contact:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
}

#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 


#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}

/********/
/*OVERALL PAGE STYLES*/

a {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}



























