<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="/js/script.js"></script>
</head>
<body>
	<div class="page-container">
		<div class="about-title">
			What is Sustainical?
		</div>
		<div class="about-detail">
			Sustainical (working name) is a website hosting a <b>yearly competition</b> between UC Berkeley freshman by comparing their dorm-wide and unit-wide energy usage throughout the school year. The website can <b>track electricity and water usage</b> between the various dorms and compare those values to previous years as well as <b>sustainable</b> levels. The competition itself would simply pit dorms against each other, and give <b>a major prize at the end of the semester</b> to whichever dorm shows the most improvement, and possibly smaller awards throughout the semester. Additionally, we hope to include intermittent goals and prizes for dorms continue to draw user attention. We would try to persuade the housing office to use a portion of the money they save due to the contest split between (1) funding the prize for the winner and (2) donating to charities that help fight global warming. We think this would give students several potential sources of motivation, and hopefully would provide most individuals enough reason to participate. Beyond energy and water usage, we are including other potential ways to understand and limit individual carbon footprints so that users won't simply focus on this one platform while ignoring other lifestyle choices. In doing so, we hope to <b>encourage a behavior change</b> in which students have a better understanding of their impact, carrying that knowledge into new communities beyond their freshman year.
		</div>	
		<div class="about-title">
			Who are Sustainical users?
		</div>
		<div class="about-detail">
			The project is intended mainly for <b>freshmen users</b> since they are a long-term centralized body we can study and compare over the year with minimal changes.  Through the year, we can hopefully influence their behavior and habits so they can comprehend their impact. Additionally, another <b>user</b> could actually be the dorms and housing office who may benefit from this project. Student sustainability groups may also be able to use this platform, especially on the events side of things.
		</div>
		<div class="about-title">
			Why use Sustainical?
		</div>
		<div class="about-detail">
			We imagine that students would want to use this platform due to its <b>ease of use, visualizations, and prizes</b>. Housing may want to use this platform in order to not only decrease possible costs to their overall system, but also to help achieve goals associated with carbon neutrality by 2025. Our main users, freshmen, would take advantage of our system for our prizes, and then hopefully form a habit that encourages them to continue returning to our website. While we might focus on students who are especially interested in sustainability first, <b>hopefully their use of the platform will entice their peers to use it too</b>. 
		</div>
		<div id="contact">
			Contact Us
		</div>
	</div>
</body>
</html>