<!DOCTYPE html>
<html>
<head>
<head>
	<head> 
		<title>Sustainical | Dashboard</title> 
	</head>
<body>
	<h2 class="page-header"> 
	Your Dashboard
	</h2>
	<p>Welcome to your dashboard</p>
	<div id="my-chart-contained">
	<canvas id="fixedChart" height="400" width="400"></canvas>
	</div>
</body>
</html>
