<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
</head>
<body>
	<div class="page-container">
		<div id="profile-container">
			<div class="sub-container">
				<div id="prof-pic">
					<!-- <img src="assets/img/dude.jpeg"> -->
				</div>
				<div id="details">
					<p id="name">Sustainability Dude</p>
					<p id="unit">3rd place, Unit 3 (University Wide)</p>
					<p id="building">1st place, Ida Sproul (in Unit 3)</p>
				</div>
			</div>
			<div class="sub-container">
				<div class="goals-points">Goals</div>
				<div class="goals-points">Points</div>
			</div>
			<div class="sub-container">
				<ul>
					<li class="listed-goals">Individual: understand how my eating habits play a role in the carbon cycle</li>
					<li class="listed-goals">Individual: limit my showers to 5 minutes</li>
					<li class="listed-goals">Group: encourage my floormates to turn of the lights in the lounge at night</li>
				</ul>
				<div id="points">
					<p>302 Individual Points</p>
					<p>129 Communal Points</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
