<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
</head>
<div class="about-title">
	Quizzes
</div>
<body>
	<div class="page-container special-container">
		<a href="/users/resources">
		<div class="special left">
			<div class="special-title">Resources</div>
			<div class="special-details">Return to the resources homepage.</div>
		</div>
		<div class="special right">
			<div class="special-title">Events</div>
			<div class="special-details">Check out some local sustainability events to meet peers and learn about the difference you can make in your community</div>
		</div>
		<div class="clear-fix"></div>
		</a>
	</div>
	<div class="line"></div>
	<div class="page-container article-container"> <!-- Titles must be contained in 1 line, and summaries within 3 lines -->
		<div id="search-box">
			<div id="magnify-container">
				<img src="/img/magnify.png"/>
			</div>
			<input type="text" placeholder="search"/>
		</div>
		<a href="/users/quiz1">
			<div class="article">
				<div class="article-image fifth-image">
				</div>
				<div class="article-details">
					<div class="article-title">
						Quiz: The most effective individual steps to tackle climate change
					</div>
					<div class="article-about">
						Ready to take the quiz on this subject?
					</div>
				</div>
			</div>
		</a>
	</div>
</body>
</html>