<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/jquery.js"></script>
	<script src="/js/quiz1.js"></script>
</head>
<div class="about-title">
	Quizzes
</div>
<body>
<p class="question">1. How many peer-reviewed research papers did the study analyze?</p>        

<ul class="answers">            
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">1</label><br/>          
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">5</label><br/>            
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">39</label><br/>            
<input type="radio" name="q1" value="d" id="q1d"><label for="q1d">80</label><br/>       
</ul>        


<p class="question">2. What is the average carbon footprint (in CO2 equivalent) for someone living in the United States?</p>        

<ul class="answers">            
<input type="radio" name="q2" value="a" id="q2a"><label for="q2a">3 tonnes</label><br/>           
<input type="radio" name="q2" value="b" id="q2b"><label for="q2b">6 tonnes</label><br/>            
<input type="radio" name="q2" value="c" id="q2c"><label for="q2c">20 tonnes </label><br/>           
<input type="radio" name="q2" value="d" id="q2d"><label for="q2d">100 tonnes</label><br/>       
</ul>        

<p class="question">3. About how many tonnes (in CO2 equivalent) does living car-free save per year?</p>        

<ul class="answers">            
<input type="radio" name="q3" value="a" id="q3a"><label for="q3a">0.6 tonnes</label><br/>            
<input type="radio" name="q3" value="b" id="q3b"><label for="q3b">2.4 tonnes</label><br/>            
<input type="radio" name="q3" value="c" id="q3c"><label for="q3c">5.6 tonnes</label><br/>           
<input type="radio" name="q3" value="d" id="q3d"><label for="q3d">17.8 tonnes</label><br/>       
</ul>        

<p class="question">4. Which of these actions has the highest impact on reducing your carbon footprint?</p>        

<ul class="answers">           
<input type="radio" name="q4" value="a" id="q4a"><label for="q4a">Having one fewer child</label><br/>            
<input type="radio" name="q4" value="b" id="q4b"><label for="q4b">Buy green energy</label><br/>            
<input type="radio" name="q4" value="c" id="q4c"><label for="q4c">Recycle</label><br/>            
<input type="radio" name="q4" value="d" id="q4d"><label for="q4d">Avoid one transatlantic flight</label><br/>        
</ul>        

<p class="question">5. Which of these actions that you can start doing immediately has the highest impact on reducing your footprint?</p>        

<ul class="answers">            
<input type="radio" name="q5" value="a" id="q5a"><label for="q5a">Upgrade light bulbs</label><br/>            
<input type="radio" name="q5" value="b" id="q5b"><label for="q5b">Wash clothes in cold water</label><br/>            
<input type="radio" name="q5" value="c" id="q5c"><label for="q5c">Hang dry clothes</label><br/>           
<input type="radio" name="q5" value="d" id="q5d"><label for="q5d">Switch to eating a plant based diet</label><br/>        
</ul>

<br/>
<div id="results">            
Show me the answers!       
</div>                

<div id="category1">            
<p>              
<strong>Question 1:</strong> The correct answer is the <strong>Answer 1</strong>.</p>        
</div>        

<div id="category2">            
<p>              
<strong>Question 2:</strong> The correct answer is <strong>Answer 2</strong>.</p>        
</div>        

<div id="category3">            
<p>                
<strong>Question 3:</strong> The correct answer is <strong>Answer 3</strong>.</p>        
</div>        

<div id="category4">            
<p>               
<strong>Question 4:</strong> The correct answer is <strong>Answer 4</strong>.</p>        
</div>        

<div id="category5">            
<p>                
<strong>Question 5:</strong> The correct answer is <strong>Answer 1</strong>.</p>        
</div>  

<div id="category11">            
<p>                
You answered them all right!</p>        
</div>
</body>
</html>