<!DOCTYPE html>
<html>
<head>
	<title>sustainical</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
	<script src="public/js/script.js"></script>
	<script src="/js/script.js"></script>
</head>
<body>
	<div class="page-container special-container">
		<div class="special left">
			<div class="special-title">Quizzes</div>
			<div class="special-details">Quiz yourself on sustainable topics and earn personal points!</div>
		</div>
		<div class="special right">
			<div class="special-title">Events</div>
			<div class="special-details">Check out some local sustainability events to meet peers and learn about the difference you can make in your community</div>
		</div>
		<div class="clear-fix"></div>
	</div>
	<div class="line"></div>
	<div class="page-container article-container">
		<div id="search-box">
			<div id="magnify-container">
				<img src="assets/img/magnify.png"/>
			</div>
			<input type="text" placeholder="search"/>
		</div>
		<div class="article">
			<div class="article-image fourth-image"></div>
			<div class="article-details">
				<div class="article-title">
					Diffusion of Responsibility
				</div>
				<div class="article-about">
					Diffusion of responsibility is a sociopsychological phenomenon whereby a person is less likely to take responsibility for action or inaction when others are present.
				</div>
			</div>
		</div>
		<div class="article">
			<div class="article-image first-image"></div>
			<div class="article-details">
				<div class="article-title">
					Air Travel and Pollution
				</div>
				<div class="article-about">
					Though air travel emissions now account for only about 5 percent of warming, that fraction is projected to rise significantly, since the volume of air travel is increasing much faster than gains in flight fuel efficiency.
				</div>
			</div>
		</div>
		<div class="article">
			<div class="article-image second-image"></div>
			<div class="article-details">
				<div class="article-title">
					The Impact of Diet
				</div>
				<div class="article-about">
					Sustainable agriculture is the production of food, fiber, or other plant or animal products using farming techniques that protect the environment, public health, human communities, and animal welfare.
				</div>
			</div>
		</div>
		<div class="article">
			<div class="article-image third-image"></div>
			<div class="article-details">
				<div class="article-title">
					Upcoming COP 23
				</div>
				<div class="article-about">
					With 197 Parties, the United Nations Framework Convention on Climate Change (UNFCCC) has near universal membership and is the parent treaty of the 1997 Kyoto Protocol. The Kyoto Protocol has been ratified by 192 of the UNFCCC Parties. 
				</div>
			</div>
		</div>
	</div>
</body>
</html>