<!DOCTYPE html>
<html>
<head>
	<title>SustainiCal</title>
</head>
<body>
	<div class="page-container">
		<div class="about-title">
			Current Trends
		</div>
		<div class="competition">
			SustainiCal is hosting a <b>yearly competition</b> between UC Berkeley freshman by comparing their dorm-wide and unit-wide energy usage throughout the school year. Below you will find the energy consumption of each dorm along with the current leading team.
		</div>	
		<div id="energy-chart">
			<!-- from chart.js -->
			<canvas class="active-chart chart1" width="400" height="400"></canvas>
<!-- 			<canvas class="inactive-chart chart2" width="400" height="400"></canvas>
			<canvas class="inactive-chart chart3" width="400" height="400"></canvas>
			<canvas class="inactive-chart chart4" width="400" height="400"></canvas> -->
		</div>
		<div id="timeline-container">
			<input type="range" min="1" max="4" value="4" step="1" class="slider" id="timeline"/>
			<ul id="label-container">
				<li class="label year">Year</li>
				<li class="label month">Month</li>
				<li class="label week">Week</li>
				<li class="label day active">Day</li>
			</ul>
		</div>
		<!-- <div id="leaderboard-container"> This is messing stuff up -->
			<div class="leaderboard-title">Unit Leaders</div>
			<div class="leaderboard-title">University Leaders</div>
			<table>
				<tr>
					<th>Place</th>
					<th>Dorm</th>
					<th>Current Energy Consumption (kWh)</th>
					<th>Energy Usage Trend</th>
					<th>Current Water Consumption (Gallons per Hour) </th>
					<th>Water Usage Trend</th>
				</tr>
				<tr>
					<td>1</td>
					<td>Ida Sproul</td>
					<td>870</td>
					<td>decreasing consumption</td>
					<td>360</td>
					<td>increasing consumption</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Priestley</td>
					<td>960</td>
					<td>decreasing consumption</td>
					<td>350</td>
					<td>decreasing consumption</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Beverly Cleary</td>
					<td>950</td>
					<td>increasing consumption</td>
					<td>380</td>
					<td>increasing consumption</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Norton</td>
					<td>1020</td>
					<td>decreasing consumption</td>
					<td>345</td>
					<td>increasing consumption</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Spens-Black</td>
					<td>1050</td>
					<td>decreasing consumption</td>
					<td>355</td>
					<td>increasing consumption</td>
				</tr>
			</table>
		<!-- </div> -->
	</div>
</body>
</html>